.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.boat-wrapper {
  width: 100px;
  height: 200px;
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
}

.moveable-target{
  position: absolute;
}